.mapPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relativ;
}

.mapPage > iframe {
  flex-grow: 1;
}

.mapPage > a:link {
  color: white;
  font-size: 0.7rem;
  position: absolute;
  bottom: 2.4rem;
  right: 1rem;
  text-decoration: none;
}
