<section class="signIn">
  <h1 class="pageHeadLine">SIGN IN</h1>
  <form class="signIn_form" action="" method="">
    <input
      placeholder="email"
      type="text"
      name="vorname"
      value=""
      size="30"
      maxlength="50"
    />
    <input
      placeholder="passwort"
      type="text"
      name="vorname"
      value=""
      size="30"
      maxlength="50"
    />
    <input type="Submit" name="absenden" value="SUBMIT" />
  </form>
  <p>OR</p>
  <img
    class="signIn_fingerprint"
    src="../../assets/ic_fingerprint_24px.png"
    alt="Fingerprint"
  />
</section>
