.navigation {
  background-color: black;
  position: relative;
  text-align: center;
}

.pageHeadLine {
  color: white;
  margin: 1.2rem 1rem;
}

.navigation > img {
  position: absolute;
  left: 2rem;
}
