.container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  padding: 10px;
  background-color: black;
}

.btn-select {
  background-color: black;
  border: none;
  color: #ffffff;
  font-size: 0.6rem;
  outline-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

p {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1em;
}

.btn-select > div {
  border-bottom: 0.2rem solid white;
  width: 1.5rem;
  opacity: 0;
}

.btn-select:hover > div {
  opacity: 1;
}
